#arcade{
    text-align: right;
}
div{
    position: left;
    width: 800px;
    border: 40px;
    padding: 60px;
    margin: 20px;
}

#logo{
    position: fixed;
    top: 0;
    left: 0;
}

#arcade{
    position: fixed;
    right: 0;
    top: 10;
}

div.text1{
    vertical-align: top;
    display: inline-block;
    text-align: left;
    width: 750px;
}

.caption{
    display: block;
}


